@import url('https://fonts.googleapis.com/css2?family=Petrona&family=PT+Sans&display=swap');

* {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Petrona', serif;
}

.formBtn {
  margin: 1rem auto 1rem;
  display: block;
  width: max-content;
}

form {
  width: 80%;
  margin: auto;
}

.instructions {
  width: 65%;
  margin: 0 auto 2rem;
}

.instructions p {
  margin: .1rem 0 .1rem;
}

.instructions span {
  font-family: 'Courier New', monospace;
  font-weight: bold;
  color: #a8a6a2;
}

.colGroup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.formColHalf {
  width: 45%;
  display: flex;
  justify-content: center;
}

.formColHalf label {
  font-weight: bold;
}

.formColHalf textarea {
  width: 100%;
  min-height: 10rem;
}

.results {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.results h3 {
  text-align: center;
  font-family: 'Petrona', serif;
}

.results section {
  max-width: 32%;
}
